.detalhes-candidatura-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    border: 5px solid #ccc;
    border-radius: 5px;
    border-color: rgb(0, 0 ,0 , 0.60);
    background-color: #e1f5de;
    margin-top: 20px;
}

.detalhes-candidatura-container h2 {
    margin-bottom: 20px;
}

.detalhes-candidatura-container p {
    margin: 5px 0;
}

.detalhes-candidatura-container strong {
    font-weight: bold;
}

.container {
    text-align: center;
    margin-top: 20px; 
}

.button {
    margin-top: 20px; 
}

.button.disabled {
    background-color: gray;
    pointer-events: none;
}